<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# Practice Project

Estimated time needed: **60** minutes

Ce projet pratique se concentre sur la transformation et l'intégration des données à l'aide de PySpark. Vous travaillerez avec deux ensembles de données, effectuerez diverses transformations telles que l'ajout de colonnes, le renommage de colonnes, la suppression de colonnes inutiles, la jointure de DataFrames, et enfin, vous écrirez les résultats à la fois dans un entrepôt Hive et un système de fichiers HDFS.

Prérequis
Pour cet exercice, vous utiliserez wget, Python et Spark (PySpark). Il est donc essentiel de vous assurer que les bibliothèques spécifiées ci-dessous sont installées dans votre environnement de travail ou au sein des Labs de Skills Network (SN).

In [2]:
# Installing required packages

!pip install wget pyspark  findspark

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyspark in /home/tegongue/anaconda3/lib/python3.12/site-packages (3.5.3)
Requirement already satisfied: findspark in /home/tegongue/anaconda3/lib/python3.12/site-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=562f48c4eaaf33d13cb6fcfc8caf0e5e0cc7272600dd686fdedb86c4a0d2d0ec
  Stored in directory: /home/tegongue/.cache/pip/wheels/01/46/3b/e29ffbe4ebe614ff224bad40fc6a5773a67a163251585a13a9
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

#### Prework - Initiate the Spark Session

In [4]:
import findspark

findspark.init()

In [6]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the SparkContext.   

from pyspark import SparkContext, SparkConf

from pyspark.sql import SparkSession

In [143]:
# Creating a SparkContext object

sc = SparkContext.getOrCreate()

# Creating a Spark Session

spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/12/01 21:07:33 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

### Task 1: Load datasets into PySpark DataFrames

Download the datasets from the folloing links using `wget` and load it in a Spark Dataframe.

1. https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/dataset1.csv  
2. https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/dataset2.csv  

*Hint: Import wget*

In [16]:
# Télécharger le jeu de données en utilisant wget
import wget

link_to_data1 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/dataset1.csv'
wget.download(link_to_data1)

link_to_data2 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/dataset2.csv'
wget.download(link_to_data2)

'dataset2.csv'


<details>
    <summary>Click here for Solution</summary>

```python
# download the dataset using wget
import wget

link_to_data1 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/dataset1.csv'
wget.download(link_to_data1)

link_to_data2 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/dataset2.csv'
wget.download(link_to_data2)
```

</details>

In [20]:

# Charger les deux fichiers CSV dans des DataFrames
df1 = spark.read.csv("dataset1.csv", header=True, inferSchema=True)
df2 = spark.read.csv("dataset2.csv", header=True, inferSchema=True)

# Afficher les premières lignes des deux DataFrames
df1.show()
df2.show()

+-----------+-----------+------+-----------+--------+
|customer_id|date_column|amount|description|location|
+-----------+-----------+------+-----------+--------+
|          1|   1/1/2022|  5000| Purchase A| Store A|
|          2|  15/2/2022|  1200| Purchase B| Store B|
|          3|  20/3/2022|   800| Purchase C| Store C|
|          4|  10/4/2022|  3000| Purchase D| Store D|
|          5|   5/5/2022|  6000| Purchase E| Store E|
|          6|  10/6/2022|  4500| Purchase F| Store F|
|          7|  15/7/2022|   200| Purchase G| Store G|
|          8|  20/8/2022|  3500| Purchase H| Store H|
|          9|  25/9/2022|   700| Purchase I| Store I|
|         10| 30/10/2022|  1800| Purchase J| Store J|
|         11|  5/11/2022|  2200| Purchase K| Store K|
|         12| 10/12/2022|   900| Purchase L| Store L|
|         13|  15/1/2023|  4800| Purchase M| Store M|
|         14|  20/2/2023|   300| Purchase N| Store N|
|         15|  25/3/2023|  4200| Purchase O| Store O|
|         16|  30/4/2023|  2600| Purchase P| Store P|
|         17|   5/5/2023|   700| Purchase Q| Store Q|
|         18|  10/6/2023|  1500| Purchase R| Store R|
|         19|  15/7/2023|  3200| Purchase S| Store S|
|         20|  20/8/2023|  1000| Purchase T| Store T|
+-----------+-----------+------+-----------+--------+
only showing top 20 rows

+-----------+----------------+-----+-------+
|customer_id|transaction_date|value|  notes|
+-----------+----------------+-----+-------+
|          1|        1/1/2022| 1500| Note 1|
|          2|       15/2/2022| 2000| Note 2|
|          3|       20/3/2022| 1000| Note 3|
|          4|       10/4/2022| 2500| Note 4|
|          5|        5/5/2022| 1800| Note 5|
|          6|       10/6/2022| 1200| Note 6|
|          7|       15/7/2022|  700| Note 7|
|          8|       20/8/2022| 3000| Note 8|
|          9|       25/9/2022|  600| Note 9|
|         10|      30/10/2022| 1200|Note 10|
|         11|       5/11/2022| 1500|Note 11|
|         12|      10/12/2022|  800|Note 12|
|         13|       15/1/2023| 2000|Note 13|
|         14|       20/2/2023|  700|Note 14|
|         15|       25/3/2023| 1800|Note 15|
|         16|       30/4/2023| 1000|Note 16|
|         17|        5/5/2023|  400|Note 17|
|         18|       10/6/2023| 1500|Note 18|
|         19|       15/7/2023| 3000|Note 19|
|         20|       20/8/2023|  600|Note 20|
+-----------+----------------+-----+-------+
only showing top 20 rows


<details>
    <summary>Click here for Solution</summary>

```python

#load the data into a pyspark dataframe
    
df1 = spark.read.csv("dataset1.csv", header=True, inferSchema=True)
df2 = spark.read.csv("dataset2.csv", header=True, inferSchema=True)
```

</details>

### Task 2: Display the schema of both dataframes

Display the schema of `df1` and `df2` to understand the structure of the datasets.

In [22]:
# Afficher le schéma de df1
df1.printSchema()

# Afficher le schéma de df2
df2.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- date_column: string (nullable = true)
 |-- amount: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- location: string (nullable = true)

root
 |-- customer_id: integer (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- value: integer (nullable = true)
 |-- notes: string (nullable = true)


<details>
    <summary>Click here for Solution</summary>

```python

#print the schema of df1 and df2
    
df1.printSchema()
df2.printSchema()
```

</details>

#### Task 3: Add a new column to each dataframe

Add a new column named **year** to `df1` and **quarter** to `df2` representing the year and quarter of the data.

*Hint: use withColumn. Convert the date columns which are present as string to date before extracting the year and quarter information*

In [132]:

from pyspark.sql.functions import year, quarter

#Add new column year to df1
df1 = df1.withColumn('year', year(to_date('date_column','dd/MM/yyyy')))
    
#Add new column quarter to df2    
df2 = df2.withColumn('quarter', quarter(to_date('transaction_date','dd/MM/yyyy')))


<details>
    <summary>Click here for Solution</summary>

```python
from pyspark.sql.functions import year, quarter

#Add new column year to df1
df1 = df1.withColumn('year', year(to_date('date_column','dd/MM/yyyy')))
    
#Add new column quarter to df2    
df2 = df2.withColumn('quarter', quarter(to_date('transaction_date','dd/MM/yyyy')))```

</details>

#### Task 4: Rename columns in both dataframes

Rename the column **amount** to **transaction_amount** in `df1` and **value** to **transaction_value** in `df2`.

*Hint: Use withColumnRenamed*

In [83]:
# Renommer la colonne 'amount' en 'transaction_amount' dans df1
df1 = df1.withColumnRenamed('amount', 'transaction_amount')

# Renommer la colonne 'value' en 'transaction_value' dans df2
df2 = df2.withColumnRenamed('value', 'transaction_value')



<details>
    <summary>Click here for Solution</summary>

```python

#Rename df1 column amount to transaction_amount
df1 = df1.withColumnRenamed('amount', 'transaction_amount')
    
#Rename df2 column value to transaction_value
df2 = df2.withColumnRenamed('value', 'transaction_value')
```

</details>

#### Task 5: Drop unnecessary columns

Drop the columns **description** and **location** from `df1` and **notes** from `df2`.

In [48]:
# Supprimer les colonnes 'description' et 'location' de df1
df1 = df1.drop('description', 'location')

# Supprimer la colonne 'notes' de df2
df2 = df2.drop('notes')




<details>
    <summary>Click here for Solution</summary>

```python

#Drop columns description and location from df1
df1 = df1.drop('description', 'location')
    
#Drop column notes from df2
df2 = df2.drop('notes')
```

</details>

#### Task 6: Join dataframes based on a common column

Join `df1` and `df2` based on the common column **customer_id** and create a new dataframe named `joined_df`.

In [54]:
#join df1 and df2 based on common column customer_id
joined_df = df1.join(df2, 'customer_id', 'inner')

<details>
    <summary>Click here for Solution</summary>

```python

#join df1 and df2 based on common column customer_id
joined_df = df1.join(df2, 'customer_id', 'inner')
    
```

</details>

#### Task 7: Filter data based on a condition

Filter `joined_df` to include only transactions where "transaction_amount" is greater than 1000 and create a new dataframe named `filtered_df`.

In [103]:
# Filtrer les transactions où 'transaction_amount' est supérieur à 1000
filtered_df = joined_df.filter("transaction_amount > 1000")

<details>
    <summary>Click here for Solution</summary>

```python

# filter the dataframe for transaction amount > 1000
filtered_df = joined_df.filter("transaction_amount > 1000")    
```

</details>

#### Task 8: Aggregate data by customer

Calculate the total transaction amount for each customer in `filtered_df` and display the result.

*Hint: Use sum from pyspark.sql.functions*

In [139]:

# group by customer_id and aggregate the sum of transaction amount
from pyspark.sql import functions as F

# Agrégation des données par client et calcul du montant total des transactions
aggregated_df = filtered_df.groupBy('customer_id').agg(
    F.sum('transaction_amount').alias('total_transaction_amount')
)

# Affichage du résultat
aggregated_df.show(50)


#display the result

+-----------+------------------------+
|customer_id|total_transaction_amount|
+-----------+------------------------+
|         31|                    3200|
|         85|                    1800|
|         78|                    1500|
|         34|                    1200|
|         81|                    5500|
|         28|                    2600|
|         76|                    2600|
|         27|                    4200|
|         91|                    3200|
|         22|                    1200|
|         93|                    5500|
|          1|                    5000|
|         52|                    2600|
|         13|                    4800|
|          6|                    4500|
|         16|                    2600|
|         40|                    2600|
|         94|                    1200|
|         57|                    5500|
|         54|                    1500|
|         96|                    2400|
|         48|                    2400|
|          5|                    6000|
|         19|                    3200|
|         64|                    2600|
|         15|                    4200|
|         43|                    3200|
|         37|                    1800|
|         61|                    1800|
|         88|                    2600|
|         72|                    2400|
|          4|                    3000|
|         55|                    3200|
|          8|                    3500|
|        100|                    2600|
|         39|                    4200|
|         49|                    1800|
|         84|                    2400|
|         87|                    4200|
|         51|                    4200|
|         69|                    5500|
|         97|                    1800|
|         63|                    4200|
|         10|                    1800|
|         45|                    5500|
|         82|                    1200|
|         25|                    1800|
|         73|                    1800|
|         24|                    2400|
|         70|                    1200|
+-----------+------------------------+
only showing top 50 rows

<details>
    <summary>Click here for Solution</summary>

```python

from pyspark.sql.functions import sum
   
# group by customer_id and aggregate the sum of transaction amount

total_amount_per_customer = filtered_df.groupBy('customer_id').agg(sum('transaction_amount').alias('total_amount'))

#display the result
total_amount_per_customer.show()
```

</details>

#### Task 9: Write the result to a Hive table

Write `total_amount_per_customer` to a Hive table named **customer_totals**.

In [159]:

# Créez ou remplacez la table Hive customer_totals
aggregated_df.write \
    .mode("overwrite") \
    .saveAsTable("customer_totals")

print("Data has been written to Hive table 'customer_totals'")

Data has been written to Hive table 'customer_totals'


<details>
    <summary>Click here for Solution</summary>

```python

# Write total_amount_per_customer to a Hive table named customer_totals
total_amount_per_customer.write.mode("overwrite").saveAsTable("customer_totals")
```

</details>

#### Task 10: Write the filtered data to HDFS

Write `filtered_df` to HDFS in parquet format to a file named **filtered_data**.

In [155]:
filtered_df.write.mode("overwrite").parquet("filtered_data.parquet")


<details>
    <summary>Click here for Solution</summary>

```python

#Write filtered_df to HDFS in parquet format file filtered_data

filtered_df.write.mode("overwrite").parquet("filtered_data.parquet")
```

</details>

#### Task 11: Add a new column based on a condition

Ajouter une nouvelle colonne nommée high_value au DataFrame df1 indiquant si le transaction_amount est supérieur à 5000. Lorsque la valeur est supérieure à 5000, la valeur de la colonne doit être "Yes". Lorsque la valeur est inférieure ou égale à 5000, la valeur de la colonne doit être "No".

Indice : Utilisez les fonctions when et lit de pyspark.sql.functions

In [165]:
# Add new column with value indicating whether transaction amount is > 5000 or not

from pyspark.sql.functions import when, lit

# Add new column with value indicating whether transaction amount is > 5000 or not
df1 = df1.withColumn("high_value", when(df1.transaction_amount > 5000, lit("Yes")).otherwise(lit("No")))


<details>
    <summary>Click here for Solution</summary>

```python

from pyspark.sql.functions import when, lit

# Add new column with value indicating whether transaction amount is > 5000 or not
df1 = df1.withColumn("high_value", when(df1.transaction_amount > 5000, lit("Yes")).otherwise(lit("No")))
```

</details>

#### Task 12: Calculate the average transaction value per quarter

Calculate and display the average transaction value for each quarter in `df2` and create a new dataframe named `average_value_per_quarter` with column `avg_trans_val`.

*Hint: Use avg from pyspark.sql.functions*

In [172]:
from pyspark.sql.functions import avg

#calculate the average transaction value for each quarter in df2
average_value_per_quarter = df2.groupBy('quarter').agg(avg("transaction_value").alias("avg_trans_val"))

    
# #show the average transaction value for each quarter in df2    
# average_value_per_quarter.show()


<details>
    <summary>Click here for Solution</summary>

```python
from pyspark.sql.functions import avg

#calculate the average transaction value for each quarter in df2
average_value_per_quarter = df2.groupBy('quarter').agg(avg("transaction_value").alias("avg_trans_val"))

    
#show the average transaction value for each quarter in df2    
average_value_per_quarter.show()

```

</details>

#### Task 13: Write the result to a Hive table

Write `average_value_per_quarter` to a Hive table named **quarterly_averages**.

In [192]:
from pyspark.sql.functions import col, when
from pyspark.sql import functions as F

# Remplacer les valeurs manquantes par une chaîne vide
df2 = df2.fillna({'transaction_date': ''})

# Ajouter une vérification supplémentaire avant la conversion de la date
df2 = df2.withColumn(
    "transaction_date",
    when(col("transaction_date").isNull() | (col("transaction_date") == ''), '1970-01-01')  # Mettre une valeur par défaut
    .otherwise(col("transaction_date"))
)

# Si vous appliquez une fonction de conversion de date, assurez-vous de bien traiter les valeurs
df2 = df2.withColumn(
    "transaction_date",
    F.to_date(col("transaction_date"), "yyyy-MM-dd")
)

# Ensuite, vous pouvez appliquer votre transformation en toute sécurité
# Exemple d'écriture dans une table Hive
average_value_per_quarter.write \
    .mode("overwrite") \
    .saveAsTable("quarterly_averages")

24/12/01 21:57:39 ERROR Executor: Exception in task 0.0 in stage 67.0 (TID 62)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_97602/2650978482.py", line 9, in normalize_date
TypeError: strptime() argument 1 must be str, not None

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)
24/12/01 21:57:39 WARN TaskSetManager: Lost task 0.0 in stage 67.0 (TID 62) (tegongue-Latitude-5580.lan executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_97602/2650978482.py", line 9, in normalize_date
TypeError: strptime() argument 1 must be str, not None

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)

24/12/01 21:57:39 ERROR TaskSetManager: Task 0 in stage 67.0 failed 1 times; aborting job

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_97602/2650978482.py", line 9, in normalize_date
TypeError: strptime() argument 1 must be str, not None


<details>
    <summary>Click here for Solution</summary>

```python

#Write average_value_per_quarter to a Hive table named quarterly_averages

average_value_per_quarter.write.mode("overwrite").saveAsTable("quarterly_averages")

```

</details>

#### Task 14: Calculate the total transaction value per year

Calculate and display the total transaction value for each year in `df1` and create a new dataframe named `total_value_per_year` with column `total_transaction_val`.
> **Note:** The provided DataFrame `df1` does not explicitly have a `year` column initially. However, in Task 3, a new column named `year` is added to `df1` by extracting the year from the date column. Additionally, in Task 4, the column `amount` is renamed to `transaction_amount`.

In [194]:
# calculate the total transaction value for each year in df1.
total_value_per_year = df1.groupBy('year').agg(sum("transaction_amount").alias("total_transaction_val"))

# show the total transaction value for each year in df1.
total_value_per_year.show()

TypeError: unsupported operand type(s) for +: 'int' and 'str'


<details>
    <summary>Click here for Solution</summary>

```python

# calculate the total transaction value for each year in df1.
total_value_per_year = df1.groupBy('year').agg(sum("transaction_amount").alias("total_transaction_val"))

# show the total transaction value for each year in df1.
total_value_per_year.show()

```

</details>

#### Task 15: Write the result to HDFS

Write `total_value_per_year` to HDFS in the CSV format to file named **total_value_per_year**.

In [196]:
#Write total_value_per_year to HDFS in the CSV format
#Write total_value_per_year to HDFS in the CSV format

total_value_per_year.write.mode("overwrite").csv("total_value_per_year.csv")

NameError: name 'total_value_per_year' is not defined


<details>
    <summary>Click here for Solution</summary>

```python

#Write total_value_per_year to HDFS in the CSV format

total_value_per_year.write.mode("overwrite").csv("total_value_per_year.csv")

```

</details>

### Congratulations! You have completed the lab.
This practice project provides hands-on experience with data transformation and integration using PySpark. You've performed various tasks, including adding columns, renaming columns, dropping unnecessary columns, joining dataframes, and writing the results into both a Hive warehouse and an HDFS file system.

## Authors

Raghul Ramesh

Lavanya T S

<!--## Change Log -->

<!--|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-01|0.1|Lavanya T S|Initial version|
|2023-09-08|0.2|Pornima More|QA pass with edits|-->

<h3 align="center"> &#169; IBM Corporation. All rights reserved. <h3/>