<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# Final Project: Data Analysis using Spark

Estimated time needed: **60** minutes

This final project is similar to the Practice Project you did. In this project, you will not be provided with hints or solutions. You will create a DataFrame by loading data from a CSV file and apply transformations and actions using Spark SQL. This needs to be achieved by performing the following tasks:

- Task 1: Generate DataFrame from CSV data.
- Task 2: Define a schema for the data.
- Task 3: Display schema of DataFrame.
- Task 4: Create a temporary view.
- Task 5: Execute an SQL query.
- Task 6: Calculate Average Salary by Department.
- Task 7: Filter and Display IT Department Employees.
- Task 8: Add 10% Bonus to Salaries.
- Task 9: Find Maximum Salary by Age.
- Task 10: Self-Join on Employee Data.
- Task 11: Calculate Average Employee Age.
- Task 12: Calculate Total Salary by Department.
- Task 13: Sort Data by Age and Salary.
- Task 14: Count Employees in Each Department.
- Task 15: Filter Employees with the letter o in the Name.

### Prerequisites 

1. For this lab assignment, you will be using Python and Spark (PySpark). Therefore, it's essential to make sure that the following libraries are installed in your lab environment or within Skills Network (SN) Labs

In [2]:
# Installing required packages  

!pip install pyspark  findspark wget

Requirement already satisfied: pyspark in /home/tegongue/anaconda3/lib/python3.12/site-packages (3.5.3)
Requirement already satisfied: findspark in /home/tegongue/anaconda3/lib/python3.12/site-packages (2.0.1)
Requirement already satisfied: wget in /home/tegongue/anaconda3/lib/python3.12/site-packages (3.2)
Requirement already satisfied: py4j==0.10.9.7 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from pyspark) (0.10.9.7)

In [4]:
import findspark

findspark.init()

In [40]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the SparkContext.   

from pyspark import SparkContext, SparkConf

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, sum, max, count

In [8]:
# Creating a SparkContext object  

sc = SparkContext.getOrCreate()

# Creating a SparkSession  

spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/12/02 22:56:21 WARN Utils: Your hostname, tegongue-Latitude-5580 resolves to a loopback address: 127.0.1.1; using 192.168.1.97 instead (on interface wlp1s0)
24/12/02 22:56:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/02 22:56:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/12/02 22:56:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/12/02 22:56:22 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/12/02 22:56:22 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/12/02 22:56:22 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

2. Download the CSV data.

In [10]:
# Download the CSV data first into a local `employees.csv` file
import wget
wget.download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/data/employees.csv")

'employees.csv'

### Tasks

#### Task 1: Generate a Spark DataFrame from the CSV data

Read data from the provided CSV file, `employees.csv` and import it into a Spark DataFrame variable named `employees_df`.

In [20]:
# Read data from the "emp" CSV file and import it into a DataFrame variable named "employees_df"  
employees_df = spark.read.csv("employees.csv", header=True, inferSchema=True)
employees_df.show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+
only showing top 20 rows

#### Task 2: Define a schema for the data

Construct a schema for the input data and then utilize the defined schema to read the CSV file to create a DataFrame named `employees_df`.

In [18]:
# Define a Schema for the input data and read the file using the user-defined Schema
employees_df.printSchema()

root
 |-- Emp_No: integer (nullable = true)
 |-- Emp_Name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

#### Task 3: Display schema of DataFrame

Display the schema of the `employees_df` DataFrame, showing all columns and their respective data types.

In [ ]:
# Display all columns of the DataFrame, along with their respective data types

#### Task 4: Create a temporary view

Create a temporary view named `employees` for the `employees_df` DataFrame, enabling Spark SQL queries on the data.

In [25]:
# Task 4: Créer une vue temporaire
employees_df.createOrReplaceTempView("employees")
employees_df.show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+
only showing top 20 rows

#### Task 5: Execute an SQL query

Compose and execute an SQL query to fetch the records from the `employees` view where the age of employees exceeds 30. Then, display the result of the SQL query, showcasing the filtered records.

In [27]:
# SQL query to fetch solely the records from the View where the age exceeds 30
query_result = spark.sql("SELECT * FROM employees WHERE age > 30")
query_result.show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   199|    Douglas|  2600| 34|     Sales|
|   200|   Jennifer|  4400| 36| Marketing|
|   201|    Michael| 13000| 32|        IT|
|   202|        Pat|  6000| 39|        HR|
|   203|      Susan|  6500| 36| Marketing|
|   205|    Shelley| 12008| 33|   Finance|
|   206|    William|  8300| 37|        IT|
|   100|     Steven| 24000| 39|        IT|
|   102|        Lex| 17000| 37| Marketing|
|   103|  Alexander|  9000| 39| Marketing|
|   104|      Bruce|  6000| 38|        IT|
|   105|      David|  4800| 39|        IT|
|   106|      Valli|  4800| 38|     Sales|
|   107|      Diana|  4200| 35|     Sales|
|   109|     Daniel|  9000| 35|        HR|
|   110|       John|  8200| 31| Marketing|
|   111|     Ismael|  7700| 32|        IT|
|   112|Jose Manuel|  7800| 34|        HR|
|   113|       Luis|  6900| 34|     Sales|
|   116|     Shelli|  2900| 37|   Finance|
+------+-----------+------+---+----------+
only showing top 20 rows

#### Task 6: Calculate Average Salary by Department

Compose an SQL query to retrieve the average salary of employees grouped by department. Display the result.

In [42]:
# SQL query to calculate the average salary of employees grouped by department
avg_salary_by_dept = employees_df.groupBy("Department").agg(avg("Salary").alias("AvgSalary"))
avg_salary_by_dept.show()

+----------+-----------------+
|Department|        AvgSalary|
+----------+-----------------+
|     Sales|5492.923076923077|
|        HR|           5837.5|
|   Finance|           5730.8|
| Marketing|6633.333333333333|
|        IT|           7400.0|
+----------+-----------------+

#### Task 7: Filter and Display IT Department Employees

Apply a filter on the `employees_df` DataFrame to select records where the department is `'IT'`. Display the filtered DataFrame.

In [52]:
# Task 7: Filtrer et afficher les employés du département IT
it_employees = employees_df.filter(col("Department") == "IT")
it_employees.show()

+------+--------+------+---+----------+
|Emp_No|Emp_Name|Salary|Age|Department|
+------+--------+------+---+----------+
|   198|  Donald|  2600| 29|        IT|
|   201| Michael| 13000| 32|        IT|
|   206| William|  8300| 37|        IT|
|   100|  Steven| 24000| 39|        IT|
|   104|   Bruce|  6000| 38|        IT|
|   105|   David|  4800| 39|        IT|
|   111|  Ismael|  7700| 32|        IT|
|   129|   Laura|  3300| 38|        IT|
|   132|      TJ|  2100| 34|        IT|
|   136|   Hazel|  2200| 29|        IT|
+------+--------+------+---+----------+

#### Task 8: Add 10% Bonus to Salaries

Perform a transformation to add a new column named "SalaryAfterBonus" to the DataFrame. Calculate the new salary by adding a 10% bonus to each employee's salary.

In [57]:
from pyspark.sql.functions import col

# Task 8: Ajouter un bonus de 10% aux salaires
employees_with_bonus = employees_df.withColumn("SalaryWithBonus", col("Salary") * 1.1)
employees_with_bonus.show()

+------+---------+------+---+----------+------------------+
|Emp_No| Emp_Name|Salary|Age|Department|   SalaryWithBonus|
+------+---------+------+---+----------+------------------+
|   198|   Donald|  2600| 29|        IT|2860.0000000000005|
|   199|  Douglas|  2600| 34|     Sales|2860.0000000000005|
|   200| Jennifer|  4400| 36| Marketing|            4840.0|
|   201|  Michael| 13000| 32|        IT|14300.000000000002|
|   202|      Pat|  6000| 39|        HR| 6600.000000000001|
|   203|    Susan|  6500| 36| Marketing| 7150.000000000001|
|   204|  Hermann| 10000| 29|   Finance|           11000.0|
|   205|  Shelley| 12008| 33|   Finance|13208.800000000001|
|   206|  William|  8300| 37|        IT|            9130.0|
|   100|   Steven| 24000| 39|        IT|26400.000000000004|
|   101|    Neena| 17000| 27|     Sales|           18700.0|
|   102|      Lex| 17000| 37| Marketing|           18700.0|
|   103|Alexander|  9000| 39| Marketing|            9900.0|
|   104|    Bruce|  6000| 38|        IT| 6600.000000000001|
|   105|    David|  4800| 39|        IT|            5280.0|
|   106|    Valli|  4800| 38|     Sales|            5280.0|
|   107|    Diana|  4200| 35|     Sales|            4620.0|
|   108|    Nancy| 12008| 28|     Sales|13208.800000000001|
|   109|   Daniel|  9000| 35|        HR|            9900.0|
|   110|     John|  8200| 31| Marketing|            9020.0|
+------+---------+------+---+----------+------------------+
only showing top 20 rows

#### Task 9: Find Maximum Salary by Age

Group the data by age and calculate the maximum salary for each age group. Display the result.

In [59]:
from pyspark.sql.functions import max

# Task 9: Trouver le salaire maximum par âge
max_salary_by_age = employees_df.groupBy("Age").agg(max("Salary").alias("MaxSalary"))
max_salary_by_age.show()

+---+---------+
|Age|MaxSalary|
+---+---------+
| 31|     8200|
| 34|     7800|
| 28|    12008|
| 27|    17000|
| 26|     3600|
| 37|    17000|
| 35|     9000|
| 39|    24000|
| 38|     6000|
| 29|    10000|
| 32|    13000|
| 33|    12008|
| 30|     8000|
| 36|     7900|
+---+---------+

#### Task 10: Self-Join on Employee Data

Join the "employees_df" DataFrame with itself based on the "Emp_No" column. Display the result.

In [63]:
# Réaliser un self-join sur employees_df basé sur la colonne Emp_No
self_join_df = employees_df.alias("e1").join(
    employees_df.alias("e2"),
    col("e1.Emp_No") == col("e2.Emp_No"),
    "inner"
)

# Afficher le résultat du self-join
self_join_df.show()

+------+---------+------+---+----------+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|   198|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|   199|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing|   200| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|   201|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|   202|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|   203|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|   204|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|   205|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|   206|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|   100|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|   101|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|   102|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|   103|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|   104|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|   105|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|   106|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|   107|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|   108|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|   109|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|   110|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+------+---------+------+---+----------+
only showing top 20 rows

#### Task 11: Calculate Average Employee Age

Calculate the average age of employees using the built-in aggregation function. Display the result.

In [65]:
# Calculate the average age of employees
from pyspark.sql.functions import avg 
# Task 11: Calculer l'âge moyen des employés
avg_age = employees_df.select(avg("Age").alias("AvgAge"))
avg_age.show()

+------+
|AvgAge|
+------+
| 33.56|
+------+

#### Task 12: Calculate Total Salary by Department

Calculate the total salary for each department using the built-in aggregation function. Display the result.

In [67]:
# Calculate the total salary for each department. Hint - User GroupBy and Aggregate functions
from pyspark.sql.functions import sum 
# Task 12: Calculer le salaire total par département
total_salary_by_dept = employees_df.groupBy("Department").agg(sum("Salary").alias("TotalSalary"))
total_salary_by_dept.show()

+----------+-----------+
|Department|TotalSalary|
+----------+-----------+
|     Sales|      71408|
|        HR|      46700|
|   Finance|      57308|
| Marketing|      59700|
|        IT|      74000|
+----------+-----------+

#### Task 13: Sort Data by Age and Salary

Apply a transformation to sort the DataFrame by age in ascending order and then by salary in descending order. Display the sorted DataFrame.

In [85]:
# Sort the DataFrame by age in ascending order and then by salary in descending order
# Task 13: Trier les données par âge (ascendant) et salaire (descendant)
sorted_by_age = employees_df.orderBy(col("age").asc())
sorted_by_salary = employees_df.orderBy(col("Salary").desc())
sorted_by_age.show()
sorted_by_salary.show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   137|   Renske|  3600| 26| Marketing|
|   101|    Neena| 17000| 27|     Sales|
|   114|      Den| 11000| 27|   Finance|
|   108|    Nancy| 12008| 28|     Sales|
|   126|    Irene|  2700| 28|        HR|
|   130|    Mozhe|  2800| 28| Marketing|
|   198|   Donald|  2600| 29|        IT|
|   204|  Hermann| 10000| 29|   Finance|
|   115|Alexander|  3100| 29|   Finance|
|   134|  Michael|  2900| 29|     Sales|
|   136|    Hazel|  2200| 29|        IT|
|   140|   Joshua|  2500| 29|   Finance|
|   120|  Matthew|  8000| 30|        HR|
|   110|     John|  8200| 31| Marketing|
|   127|    James|  2400| 31|        HR|
|   201|  Michael| 13000| 32|        IT|
|   111|   Ismael|  7700| 32|        IT|
|   119|    Karen|  2500| 32|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   117|    Sigal|  2800| 33|     Sales|
+------+---------+------+---+----------+
only showing top 20 rows

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   100|     Steven| 24000| 39|        IT|
|   101|      Neena| 17000| 27|     Sales|
|   102|        Lex| 17000| 37| Marketing|
|   201|    Michael| 13000| 32|        IT|
|   205|    Shelley| 12008| 33|   Finance|
|   108|      Nancy| 12008| 28|     Sales|
|   114|        Den| 11000| 27|   Finance|
|   204|    Hermann| 10000| 29|   Finance|
|   103|  Alexander|  9000| 39| Marketing|
|   109|     Daniel|  9000| 35|        HR|
|   206|    William|  8300| 37|        IT|
|   110|       John|  8200| 31| Marketing|
|   121|       Adam|  8200| 39|        HR|
|   120|    Matthew|  8000| 30|        HR|
|   122|      Payam|  7900| 36|   Finance|
|   112|Jose Manuel|  7800| 34|        HR|
|   111|     Ismael|  7700| 32|        IT|
|   113|       Luis|  6900| 34|     Sales|
|   203|      Susan|  6500| 36| Marketing|
|   123|     Shanta|  6500| 35|     Sales|
+------+-----------+------+---+----------+
only showing top 20 rows

#### Task 14: Count Employees in Each Department

Calculate the number of employees in each department. Display the result.

In [83]:
from pyspark.sql.functions import count

# Calculate the number of employees in each department
total_employees_by_dept = employees_df.groupBy("Department").agg(count("Emp_No").alias("employees_by_dept"))
total_employees_by_dept.show()
# # Task 14: Compter le nombre d'employés par département
# employee_count_by_dept = employees_df.groupBy("Department").agg(count("*").alias("EmployeeCount"))
# employee_count_by_dept.show()

+----------+-----------------+
|Department|employees_by_dept|
+----------+-----------------+
|     Sales|               13|
|        HR|                8|
|   Finance|               10|
| Marketing|                9|
|        IT|               10|
+----------+-----------------+

#### Task 15: Filter Employees with the letter o in the Name

Apply a filter to select records where the employee's name contains the letter `'o'`. Display the filtered DataFrame.

In [87]:
# Apply a filter to select records where the employee's name contains the letter 'o'
# Task 15: Filtrer les employés avec la lettre 'o' dans le nom
employees_with_o = employees_df.filter(col("Emp_Name").contains("o"))
employees_with_o.show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   198|     Donald|  2600| 29|        IT|
|   199|    Douglas|  2600| 34|     Sales|
|   110|       John|  8200| 31| Marketing|
|   112|Jose Manuel|  7800| 34|        HR|
|   130|      Mozhe|  2800| 28| Marketing|
|   133|      Jason|  3300| 38|     Sales|
|   139|       John|  2700| 36|     Sales|
|   140|     Joshua|  2500| 29|   Finance|
+------+-----------+------+---+----------+

# Congratulations! You have completed the project.

Now you know how to create a DataFrame from a CSV data file and perform a variety of DataFrame transformations and actions using Spark SQL.

## Authors

Raghul Ramesh

Lavanya T S

<!--## Change Log -->

<!--|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-01|0.1|Lavanya T S|Initial version|
|2023-09-11|0.2|Pornima More|QA pass with edits|-->

<h3 align="center"> &#169; IBM Corporation. All rights reserved. <h3/>