In [3]:
import pandas as pd

# Extraction des données à partir du fichier CSV
df = pd.read_csv('/home/tegongue/Documents/formations/Master 2 data engineering/Etl/ventes.csv')

# Vérification de la structure des données extraites
print(df.head())  # Affiche les premières lignes du DataFrame
print(df.columns)  # Affiche les colonnes du DataFrame

   product_id product_name  revenue  cost
0         101    Produit A   1000.0   800
1         102    Produit B   2000.0  1500
2         103    Produit C   1500.0  1200
3         104    Produit D   3000.0  2500
4         105    Produit E   1800.0  1400
Index(['product_id', 'product_name', 'revenue', 'cost'], dtype='object')

In [35]:
!pip install pandas sqlalchemy pymysql import pandas as pdfrom sqlalchemy import create_engine# 1. Extraction : Lecture d'un fichier CSVdata = pd.read_csv('sales_data.csv')# 2. Transformation : Nettoyage et ajout d'une colonnedata = data.dropna()data['profit_margin'] = (data['revenue'] - data['cost']) / data['revenue']# 3. Connexion à MySQL (docker run)engine = create_engine('mysql+pymysql://user:password@localhost:3306/datawarehouse')# 4. Chargement des données dans MySQLdata.to_sql('sales_etl', engine, if_exists='replace', index=False)print("Pipeline ETL terminé avec succès.")

/bin/bash: -c: ligne 1: erreur de syntaxe près du symbole inattendu « ( »
/bin/bash: -c: ligne 1: `pip install pandas sqlalchemy pymysql import pandas as pdfrom sqlalchemy import create_engine# 1. Extraction : Lecture d'un fichier CSVdata = pd.read_csv('sales_data.csv')# 2. Transformation : Nettoyage et ajout d'une colonnedata = data.dropna()data['profit_margin'] = (data['revenue'] - data['cost']) / data['revenue']# 3. Connexion à MySQL (docker run)engine = create_engine('mysql+pymysql://user:password@localhost:3306/datawarehouse')# 4. Chargement des données dans MySQLdata.to_sql('sales_etl', engine, if_exists='replace', index=False)print("Pipeline ETL terminé avec succès.")'

In [55]:
!pip install pandas sqlalchemy pymysql

import pandas as pd
from sqlalchemy import create_engine

# 1. Extraction : Lecture d'un fichier CSV
data = pd.read_csv('/home/tegongue/Documents/formations/Master 2 data engineering/Etl/ventes.csv')

# 2. Transformation : Nettoyage et ajout d'une colonne
data = data.dropna()  # Corriger l'oubli d'un saut de ligne
data['profit_margin'] = (data['revenue'] - data['cost']) / data['revenue']

# 3. Connexion à MySQL (docker run)
engine = create_engine('mysql+pymysql://user:admin@localhost:3306/datawarehouse')

# 4. Chargement des données dans MySQL
data.to_sql('sales_etl', engine, if_exists='replace', index=False)

print("Pipeline ETL terminé avec succès.")
print(data.head())  # Affiche les premières lignes du DataFrame
print(data.columns)

Requirement already satisfied: pandas in /home/tegongue/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /home/tegongue/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: pymysql in /home/tegongue/anaconda3/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in /home/tegongue/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Pipeline ETL terminé avec succès.
   product_id product_name  revenue  cost  profit_margin
0         101    Produit A   1000.0   800       0.200000
1         102    Produit B   2000.0  1500       0.250000
2         103    Produit C   1500.0  1200       0.200000
3         104    Produit D   3000.0  2500       0.166667
4         105    Produit E   1800.0  1400       0.222222
Index(['product_id', 'product_name', 'revenue', 'cost', 'profit_margin'], dtype='object')

In [79]:
import pandas as pd
from sqlalchemy import create_engine

product_id           0
product_name         0
revenue              1
cost                 0
user_name            0
user_age             0
purchase_date        0
purchase_quantity    0
dtype: int64
   product_id product_name  revenue  cost user_name  user_age purchase_date  \
0         101    Produit A   1000.0   800     Alice        25    2024-06-01
1         102    Produit B   2000.0  1500       Bob        30    2024-06-02
2         103    Produit C   1500.0  1200   Charlie        28    2024-06-03
3         104    Produit D   3000.0  2500     David        35    2024-06-04
4         105    Produit E   1800.0  1400       Eve        22    2024-06-05

   purchase_quantity
0                  2
1                  3
2                  1
3                  4
4                  2
Index(['product_id', 'product_name', 'revenue', 'cost', 'user_name',
       'user_age', 'purchase_date', 'purchase_quantity'],
      dtype='object')

In [89]:
# Import des bibliothèques nécessaires
import pandas as pd  # Utilisé pour manipuler les données tabulaires (CSV)
from neo4j import GraphDatabase  # Utilisé pour interagir avec la base de données Neo4j

# 1. Extraction : Lecture d'un fichier CSV
file_path = '/home/tegongue/Documents/formations/Master 2 data engineering/Etl/ventes_users.csv'

# Chargement du fichier CSV dans un DataFrame pandas
df = pd.read_csv(file_path)
print("Fichier chargé avec succès.")
print(f"Colonnes du fichier : {df.columns.tolist()}")  # Liste des colonnes dans le fichier
print(f"Nombre total de lignes : {len(df)}")  # Nombre total de lignes dans le fichier

# Vérifier les colonnes pour des valeurs manquantes (NaN)
print("Validation des données : Vérification des valeurs manquantes...")
nan_counts = df.isna().sum()  # Compte le nombre de valeurs NaN par colonne
print(f"Valeurs manquantes par colonne :\n{nan_counts}")

# 2. Transformation : Nettoyage et préparation des données
print("Transformation : Remplacement des valeurs NaN...")
df['revenue'] = df['revenue'].fillna(0)  # Remplace les valeurs NaN dans la colonne 'revenue' par 0
print("Valeurs NaN remplacées.")

# Aperçu des données transformées
print("Aperçu des données transformées :")
print(df.head())  # Affiche les 5 premières lignes du DataFrame

# 3. Connexion à la base de données Neo4j
def get_neo4j_driver():
    
    #Fonction pour établir une connexion avec la base de données Neo4j.
    #Retourne un objet driver permettant d'exécuter des requêtes Cypher.
    uri = "bolt://localhost:7687"  # URL de connexion à Neo4j (à adapter si nécessaire)
    user = "neo4j"  # Nom d'utilisateur Neo4j
    password = "medarine672"  # Mot de passe Neo4j
    driver = GraphDatabase.driver(uri, auth=(user, password))  # Création du driver
    print("Connexion à Neo4j établie avec succès.")
    return driver

# 4. Chargement des données transformées dans Neo4j
def transform_and_load_to_neo4j(df):
    
    #Fonction pour transformer les données et les charger dans Neo4j.
    #Crée des nœuds (produits et utilisateurs) et des relations entre eux.
    driver = get_neo4j_driver()  # Connexion à Neo4j

    with driver.session() as session:
        # Parcours de chaque ligne du DataFrame
        for index, row in df.iterrows():
            # Récupération des données de la ligne actuelle
            product_id = row['product_id']
            product_name = row['product_name']
            revenue = row['revenue']
            cost = row['cost']
            user_name = row['user_name']
            user_age = row['user_age']
            purchase_date = row['purchase_date']
            purchase_quantity = row['purchase_quantity']

            # Affichage des informations pour suivi
            print(f"Insertion des données : Produit {product_name}, Utilisateur {user_name}...")

            # Requête Cypher pour créer les nœuds et les relations
            query = f"""
            MERGE (p:Product {{id: {product_id}, name: '{product_name}', revenue: {revenue}, cost: {cost}}})
            MERGE (u:User {{name: '{user_name}', age: {user_age}}})
            MERGE (u)-[:BOUGHT {{purchase_date: '{purchase_date}', quantity: {purchase_quantity}}}]->(p)
            """
            
            # Exécution de la requête
            try:
                session.run(query)
                print(f"Produit {product_name} et utilisateur {user_name} insérés avec succès.")
            except Exception as e:
                print(f"Erreur lors de l'insertion : {e}")

    # Fermeture de la connexion
    driver.close()
    print("Connexion à Neo4j fermée.")

# Début du processus de chargement
print("Début du chargement des données dans Neo4j...")
transform_and_load_to_neo4j(df)
print("Toutes les données ont été insérées avec succès dans Neo4j.")

Extraction : Lecture du fichier CSV...
Fichier chargé avec succès.
Colonnes du fichier : ['product_id', 'product_name', 'revenue', 'cost', 'user_name', 'user_age', 'purchase_date', 'purchase_quantity']
Nombre total de lignes : 10
Validation des données : Vérification des valeurs manquantes...
Valeurs manquantes par colonne :
product_id           0
product_name         0
revenue              1
cost                 0
user_name            0
user_age             0
purchase_date        0
purchase_quantity    0
dtype: int64
Transformation : Remplacement des valeurs NaN...
Valeurs NaN remplacées.
Aperçu des données transformées :
   product_id product_name  revenue  cost user_name  user_age purchase_date  \
0         101    Produit A   1000.0   800     Alice        25    2024-06-01
1         102    Produit B   2000.0  1500       Bob        30    2024-06-02
2         103    Produit C   1500.0  1200   Charlie        28    2024-06-03
3         104    Produit D   3000.0  2500     David        35    2024-06-04
4         105    Produit E   1800.0  1400       Eve        22    2024-06-05

   purchase_quantity
0                  2
1                  3
2                  1
3                  4
4                  2
Début du chargement des données dans Neo4j...
Connexion à Neo4j établie avec succès.
Insertion des données : Produit Produit A, Utilisateur Alice...
Produit Produit A et utilisateur Alice insérés avec succès.
Insertion des données : Produit Produit B, Utilisateur Bob...
Produit Produit B et utilisateur Bob insérés avec succès.
Insertion des données : Produit Produit C, Utilisateur Charlie...
Produit Produit C et utilisateur Charlie insérés avec succès.
Insertion des données : Produit Produit D, Utilisateur David...
Produit Produit D et utilisateur David insérés avec succès.
Insertion des données : Produit Produit E, Utilisateur Eve...
Produit Produit E et utilisateur Eve insérés avec succès.
Insertion des données : Produit Produit F, Utilisateur Frank...
Produit Produit F et utilisateur Frank insérés avec succès.
Insertion des données : Produit Produit G, Utilisateur Grace...
Produit Produit G et utilisateur Grace insérés avec succès.
Insertion des données : Produit Produit H, Utilisateur Hannah...
Produit Produit H et utilisateur Hannah insérés avec succès.
Insertion des données : Produit Produit I, Utilisateur Ian...
Produit Produit I et utilisateur Ian insérés avec succès.
Insertion des données : Produit Produit J, Utilisateur Jack...
Produit Produit J et utilisateur Jack insérés avec succès.
Connexion à Neo4j fermée.
Toutes les données ont été insérées avec succès dans Neo4j.